<div class='uit-body'>
    <div class='uit-container'>
        {{> partials/share }}
        <div class='uit-content'>
            <p><span class="uit-drop"><span class="uit-drop__inner">T</span></span>he worst case scenario plays out the same way everywhere, whether you are in southern <a href="/us-news/california" data-link-name="auto-linked-tag" data-component="auto-linked-tag" class="u-underline">California</a> or northern Alberta. A nascent wildfire – driven by extreme heat, high winds, drought conditions and a century of largely successful fire suppression – explodes into a juggernaut and takes over the countryside.</p> 
            <p>Any houses in the way are simply more fuel. Preheated to 500C (932F) by the 100ft flames of the advancing blaze, homes don’t so much catch on fire as explode into flames. In a dense neighborhood, many homes may do this simultaneously. The speed of ignition shocks people – citizens and firefighters alike – but it is only the beginning.</p> 
            <p>Because the temperatures achievable in an urban wildfire are comparable to those in a crucible, virtually everything is consumed as fuel. What doesn’t burn, melts: steel car chassis warp and bend while lesser metals – aluminum engine blocks, magnesium wheels – will liquify.</p> 
            <p>In turn, the ferocious heat generates its own wind that can drive sparks and embers hundreds of meters ahead of the fire. Conflagrations of this magnitude are virtually unstoppable. Ordinary house fires often leave structures somewhat intact; things can be salvaged. But no one is prepared for the damage caused by a wildfire when it overruns their town – not the scale of it, nor its capacity to wipe out everything they have worked for.</p> 
        </div>

        <div class='uit-divider uit-divider--1'>
            <div class='uit-image uit-image--1'>
                <img class='uit-image__image' src='{{ path }}/assets/1300/020.jpg' />
                <p class='uit-image__caption'>A burnt truck sits in Lake Keswick Estates in Redding, California. after the Carr Fire</p>
            </div>

            <div class='uit-image uit-image--2'>
                <img class='uit-image__image' src='{{ path }}/assets/1300/041.jpg' />
                <p class='uit-image__caption'>A statue stands where a fire whirl swept through during the Carr Fire in Redding, California</dp>
            </div>
        </div>

        <div class='uit-content'>
            <p><span class="uit-drop"><span class="uit-drop__inner">I</span></span>n late July, nearly half of the 92,000 residents of Redding, California, were forced to evacuate. More than 1,600 homes, businesses and other structures burned in the Carr fire, due to sparks thrown by a trailer wheel with a flat tire. But the cause hardly matters; it was 45C (113F) that day, and the land was primed for fire.</p> 
            <p>Seven people were killed, three of them firefighters, but when survivors tell of their escapes, it seems a miracle there weren’t many more. A local dentist, surprised by the flames in the gated community of Stanford Hills, fled for her life through the woods. Disoriented, with no idea where to go, she and her husband followed the animals – deer, rabbits and squirrels – as they fled downhill, toward the Sacramento river. Several of her neighbors were rescued by helicopter.</p>
            <blockquote class='uit-quote'>
                {{> icons/open-quotes }}
                Any houses in the way are simply more fuel
            </blockquote>
            <p>Another neighbor, a retired homicide detective named Steve Bustillos, was preparing to evacuate when he noted an ominous, breath-like quality to the rising wind. It was the fire drawing oxygen into itself – so powerfully that it made the seals in his house whistle. When Bustillos stepped outside he saw the air rippling, “like when you open an oven door”.</p> 
            <p>A moment later, the air itself appeared to burst into flames. Trees and houses followed, igniting spontaneously in the superheated air. Bustillos escaped in his pickup, but the fire caught him on Buenaventura boulevard, a kilometre from his home. His pickup was heavy – over three tonnes – but it was moved off the road. After the passenger window blew out and the truck caught fire, Bustillos managed to exit the vehicle and take refuge under a nearby bulldozer.</p> 
            <p>Somehow, he survived and is recovering well, though he looked for a time as if he had been rolled in red-hot gravel. In the truck were all of his and his wife’s valuables – guns, jewelry, passports and cash. His loaded pistols were firing as the truck burned; nothing was salvageable. Forensic analysis of the scene on Buenaventura, where a bulldozer operator was also killed, concluded that wind speeds were somewhere between 220 and 270km per hour, and that “peak gas temperatures likely exceeded 1400C” (2552F) – the melting point of steel.</p> 
            <p>In other words, what Bustillos endured was equivalent to an EF3 tornado, combined with a blast furnace.</p> 
        </div>

        <div class='uit-divider uit-divider--2'>
            <div class='uit-image uit-image--1'>
                <img class='uit-image__image' src='{{ path }}/assets/1300/045.jpg' />
                <p class='uit-image__caption'>Carrie and Steve Bustillos stand near the spot where Steve narrowly survived the fire whirl as he was evacuating his home in the Carr Fire. He abandoned his truck after it caught fire, took cover under a bulldozer and survived with minor injuries.</p>
            </div>
        </div>

        <div class='uit-content'>
            <p><span class="uit-drop"><span class="uit-drop__inner">"W</span></span>e all know someone who lost a home” is not a phrase you used to hear very often, but in the North American west, it has grown much more common over the past decade. The communities where you hear this are growing, too – small cities, entire neighborhoods.</p> 
            <p>In Redding, many residents returned to ruins and in them there are patterns. The showers often survive, standing alone, a morbid joke now, while washer-dryer sets stare out like blank eyes in a roofless skull. The charred shells of stoves, air conditioners, freezers and refrigerators are warped out of shape, or collapsed. Fire damage has its own palette; it runs from bone-white through taupe to charcoal black, the rest of the spectrum burned away.</p> 
            <p>Ash covers everything – the memories, the histories, smells, recipes and comforts, reduced now to the barest elements: carbon, stone and steel, all cloaked in smoke and suffused with the acrid reek of burning. This tableau repeated itself more than a thousand times around Redding – a thousand families standing on the sidewalk, wondering where their houses went.</p> 
            <p>Everyone who loses a home is struck by how much is gone, and also by what remains: a carpet preserved by leaking water from a ruptured water pipe; books, ghost-white with every page intact, until you touch them and they collapse in a cloud of ash.</p> 
            <p>A home is a kind of memory palace and there is an existential cruelty in the razing of it. To burn them down by the hundreds and thousands, as wildfires are doing now in the western US and Canada, is a brutal affront to the order we live by, to the habitats that give our lives meaning. Their loss shocks the heart like a sudden death. Left behind are juxtapositions so surreal and disorienting that to describe them sounds like the mutterings of an insane person: garbage can puddle; melted guns on a platter; cars bleeding aluminum; pile of tire wire. Is this really where I lived, where I raised my children? Where did their beds go? Their bedrooms?</p> 
            <p>The photos, the <em>evidence</em> – all of it is gone. In their place, a void, the shadow of a burned tree where the kitchen table was, pools of once-familiar things gone molten, settled now into new forms, rigid and unrecognizable.</p> 
        </div>

        <div class='uit-divider uit-divider--4'>
            <div class='uit-image uit-image--1'>
                <img class='uit-image__image' src='{{ path }}/assets/1300/001.jpg' />
                <p class='uit-image__caption'>Larry and Willie Hartman lost their uninsured home that they built in the Carr Fire, in Redding, Calif. Their home was in the path of the unusual fire whirl, with wind speeds of more than 140mph, that swept through their community. They pledged to rebuild.</p>
            </div>
            <div class='uit-image uit-image--2'>
                <img class='uit-image__image' src='{{ path }}/assets/1300/005.jpg' />
                <p class='uit-image__caption'>A scorched landscape near Keswick Estates in Redding, Calif. Power transmitters like these were torn out of the earth from a powerful fire whirl that swept through the area.</p>
            </div>
        </div>

        <div class='uit-content'>
            <p><span class="uit-drop"><span class="uit-drop__inner">T</span></span>wo miles north of Redding, on a broad, forested slope that feels almost rural save for the steady crackle of high tension wires overhead, Willie Hartman stands ankle-deep in the ruins of her home. Hartman is a slight but sturdy grandmother with white hair and a sad-eyed kindness and, a month on, while her granddaughter plays around her, she is still coming to terms with the fire that has unmade everything as far as the eye can see. Behind her, what used to be a metal porch railing droops like a Dali clock. Spotting a charred skeleton of furniture, she murmurs: “The lawn chair’s in the house.”</p> 
            <p>So is the mailbox. Nothing is where it should be anymore, or even what it should be because the Hartman family, along with hundreds of others in the thickly wooded hill country north of downtown, were subject to something far more intense than ordinary wildfire.</p> 
            <p>Hartman’s living room, which no longer exists, once had a picture window of double-paned glass, but it melted. You can see it now outside, a vitrified river flowing downhill toward her daughters’ homes, each of them burned to the foundations, many of their contents borne away on the incinerating wind that spun out of the Carr fire and into their neighborhood shortly before 8pm on 26 July.</p> 
            <p>Sarah Joseph, 73, lives a kilometre to the north-west, in the Keswick estates neighborhood of modest, mostly single-story homes. Many of the residents here were sure the 30 metre-wide Sacramento river would stop the fire’s advance. Joseph had to gather herself before describing what crossed the river on that 38C (100F) evening. “It looked like a tornado,” she said, “but with fire.” It arrived so quickly that she had only minutes to gather up her cat, some photos and a change of clothes before fleeing for her life.</p> 
            <blockquote class='uit-quote'>
                {{> icons/open-quotes }}
                It looked like a tornado but with fire
                <cite class='uit-quote__citation'>Sarah Joseph</cite>
            </blockquote>
            <p>There are <a href="https://calfire.app.box.com/s/2fl9bb4sml0jg8t1mtsm0lgcsu0nx979" data-link-name="in body link" class="u-underline">videos</a> and they are terrifying: surging up out of a cluster of burning neighborhoods is a whirling vortex 300 metres across, seething with smoke and fire. In the annals of firefighting, there is no direct comparable. No one has ever seen anything this big, this explosive, or this destructive rise up out of the forest and enter a town. During its brief existence of approximately 30 minutes, the incendiary cyclone sent jets of flame hundreds of metres into the sky, obliterated everything in its path, and generated such ferocious thermal energy that its smoke plume punched into the stratosphere.</p> 
            <p>The damage at ground zero, a 300-metre wide, kilometre-long swathe of scoured earth, annihilated homes and blasted forest running just south of the Hartman family compound, is hard to comprehend. There, a pair of 40-metre tall steel transmission towers have been torn from their concrete moorings and hurled to the ground where they still lie, crumpled like dead giraffes.</p> 
            <p>All the houses nearby are gone, stripped to the foundations. In the surviving branches of blackened trees, where plastic bags would ordinarily flutter, 3-metre pieces of sheet metal have been twisted like silk scarves. A 4-ton shipping container was torn to pieces and hurled across the landscape. The same thing happened to trucks and cars; one was wrapped around a tree.</p> 
            <p>Most of the grass and topsoil are gone; anything left behind was burned.</p> 
        </div>

        <div class='uit-divider uit-divider--2'>
            <div class='uit-image uit-image--1'>
                <img class='uit-image__image' src='{{ path }}/assets/1300/023.jpg' />
                <p class='uit-image__caption'>Really Hartman, 6, explores areas of her family's property destroyed by the Carr Fire in Redding, Calif. on August 28, 2018.</p>
            </div>
        </div>

        <div class='uit-content'>
            <p><span class="uit-drop"><span class="uit-drop__inner">L</span></span>arry Hartman, Willie’s husband of 47 years, is a large, congenial man with a hydraulic handshake and a gift for problem-solving. Finding himself with a dozen bear-hunting dogs that needed regular exercise, he devised a mechanical carousel with twelve chain leashes that now lies upside down in a heap of unrelated wreckage. When I asked him what he would have imagined happened here if he hadn’t witnessed it himself, he regards the utter ruination all around him, the spaces where outbuildings and other landmarks of his life no longer are, and says, “A bomb. Like Hiroshima.”</p> 
            <p>When you compare photos of the hypocenter of that nuclear blast with the excoriated ground just south of the Hartmans’ property, they are hard to tell apart. One of the Hartmans’ daughters, Christel, used to hunt bears with her father and she inherited his formidable handshake. Christel recorded video of their evacuation on her phone, and it shows a fire surging over the hill, which is how many California wildfires arrive, but this fire is higher than the transmission lines.</p> 
            <p>You can see the towers’ latticed silhouettes ghosting in and out of the flaming wall. War of the Worlds comes to mind. “It made a roaring sound,” said Christel, “like a man.” She demonstrates for me and then says: “Only 10 times that.” Across Quartz Mine Road, a few hundred metres from the Hartman compound, an elderly woman and her two great grandchildren were burned alive in their trailer.</p> 
            <p>Captain Dusty Gyves, a 20-year veteran with Cal Fire, California’s 130-year-old state firefighting agency, was shocked by what he saw four hundred metres south-west of the Hartmans’. After being lifted into the air, a two-ton pickup truck was subjected to forces so extraordinarily violent that it looked, said Gyves, “like it had been through a car crusher”. And then incinerated.</p> 
            <p>A firefighter named Jeremy Stoke was inside that truck and there is a memorial to him now on Buenaventura, where he was wrenched from this world. There are flowers, a flag, a nightstick and a humorous portrait of Stoke holding a pistol, along with dozens of ballcaps, T-shirts and shoulder patches representing police and fire departments from all over California. Among the offerings is a handwritten note saying: “Rest easy, brother. We will take it from here.”</p> 
        </div>

        <div class='uit-divider uit-divider--3'>
            <div class='uit-image uit-image--2'>
                <img class='uit-image__image' src='{{ path }}/assets/1300/017.jpg' />
                <p class='uit-image__caption'>Sarah Joseph said she is moving to Oregon after the Carr Fire destroyed her home in Lake Keswick Estates in Redding, Calif.</p>
            </div>

            <div class='uit-image uit-image--1'>
                <img class='uit-image__image' src='{{ path }}/assets/1300/055.jpg' />
                <p class='uit-image__caption'>Kyle Holtan updates a map while fighting the Herz fire north of Redding on August 30, 2018.</p>
            </div>
        </div>

        <div class='uit-content'>
            <p><span class="uit-drop"><span class="uit-drop__inner">W</span></span>hat do you call something that behaves like a tornado but is made of fire?</p> 
            <p>Wildfire scientists bridle at the term “fire tornado”; they prefer “fire whirl”, but “fire whirl” seems inadequate to describe something that built its own weather system seven miles high. In 1978, meteorologist David Goens devised a classification system that placed fire whirls of this magnitude in the “fire storm” category, along with the caveat that: “This is a rare phenomenon and hopefully one that is so unlikely in the forest environment that it can be disregarded.”</p> 
            <p>This was 40 years ago. So what has changed?</p> 
            <p>For one, the addition of a new verb to the wildfire lexicon. “Natural fire never did this,” explained Gyves. “It shouldn’t moonscape.” But now it does. It is alarming to consider that this annihilating energy arrived out of thin air, born of fire and fanned by an increasingly common combination of triple-digit heat, single-digit humidity, high fuel loads, dying trees and the battling winds that swirl daily through the mountains and valleys all over California and the greater west.</p> 
            <blockquote class='uit-quote'>
                {{> icons/open-quotes }}
                Natural fire never did this, it shouldn't moonscape
                <cite class='uit-quote__citation'>Captain Dusty Gyves</cite>
            </blockquote>
            <p>That this phenomenon may represent something new under the sun has become a subject of earnest debate among fire scientists and meteorologists. The only other event that comes close is a full-blown tornado that occurred in conjunction with the notorious Canberra bushfires of 2003. With the exception of the <a href="https://www.bbc.com/news/uk-england-43546839" data-link-name="in body link" class="u-underline">Hamburg firestorm</a>, ignited when Allied bombers dropped thousands of tons of incendiaries on that German city in 1943, there is no record of a “pyronado” of this magnitude occurring anywhere on earth.</p>
            <p>Painfully clear is the fact that there is no way for firefighters to combat these all-consuming fires – with or without a tornado in their midst. Water has little effect on a high intensity wildfire. Among the structures burned near Redding was a fire station. As one Cal Fire representative said of the Carr fire’s ferocious early days: “It shifted from a firefighting effort to a life-saving effort.”</p>


            <p>There was a time not so long ago, when a fire like this one, which forced the evacuation of 40,000 people and burned nearly 1,000 sq km across two counties, might have been a monstrous anomaly, but now, says Jonathan Cox, a Cal Fire battalion chief: “The anomalies are becoming more frequent and more deadly.”</p>
        </div>

        <div class='uit-divider uit-divider--4'>
            <div class='uit-image uit-image--1'>
                <img class='uit-image__image' src='{{ path }}/assets/1300/052.jpg' />
                <p class='uit-image__caption'>Police tape is tied to a tree near where firefighter Jeremy Stoke was killed during a fire whirl in Carr Fire in Redding, Calif. According the the National Weather Service, winds exceeded 143 mph.</p>
            </div>

            <div class='uit-image uit-image--2'>
                <img class='uit-image__image' src='{{ path }}/assets/1300/027.jpg' />
                <p class='uit-image__caption'>A scene from where a fire whirl swept through during the Carr Fire in Redding, Calif. According the the National Weather Service, winds exceeded 143 mph.</p>
            </div>
        </div>

        <div class='uit-content'>
            <p><span class="uit-drop"><span class="uit-drop__inner">E</span></span>ight of the most destructive wildfires in California’s fire-prone history have occurred in the past three years. But as destructive as others have been – the 2017 Tubbs fire with 44 lives lost and 5,600 structures destroyed; this year’s Mendocino Complex fire, the largest ever – none of them has unleashed the apocalyptic mayhem visited upon the Hartmans and their neighbors.</p> 
            <p>Once restricted to weapons of mass destruction and exceptionally intense forest fires in remote settings, the tornado-sized firestorm is no longer as unlikely as it was in the 1970s. In 2014, another huge one was observed in dense forest, just 40 miles east of Redding. As the climate changes, fires no longer cool down at night as they once did; instead, they simply grow bigger and more powerful. Meanwhile, human settlement continues to push deeper into the forest where kilotons of unburned energy waits for any spark at all.</p> 
            <p>But most people traumatized by wildfire aren’t thinking about that. They are thinking about getting their lives back. The Hartmans had no insurance, but Larry is optimistic: “If I have my way,” he says, “there’ll be a new house here in a year.”</p> 
            <p>Sarah Joseph was insured, but she is finished with Redding, a place she has witnessed growing steadily warmer. “I’ve walked out on everything two or three times in my life,” she said. “I can do it again.” There is a town in Oregon and she is taking her younger brother. That town is as vulnerable to wildfire as Redding; so are most towns now, from Mexico to Alaska, but that is not what concerns her.</p> 
            <p>“I will not cry,” she says to herself as she gets a grip one more time.</p>
        </div>

        <div class='uit-divider uit-divider--2'>
            <div class='uit-image uit-image--1'>
                <img class='uit-image__image' src='{{ path }}/assets/1300/036.jpg' />
                <p class='uit-image__caption'>A scorched landscape near Redding, Calif.</p>
            </div>
        </div>
    </div>
</div>