<div class='uit-header'>
<!--     <img class='uit-header__image' src='{{ path }}/assets/main.jpg' /> -->
    <video class='uit-header__video' loop muted autoplay playsinline>
        <source src='{{ path }}/assets/main.mp4' type='video/mp4'>
    </video>
    <div class='uit-container'>
        <h2 class='uit-header__standfirst'>This is what our future looks like</h2>
        <h1 class='uit-header__title'>Hellfire</h1>
        <p class='uit-header__byline'>by <a href='https://www.theguardian.com/profile/john-vaillant'>John Vaillant</a> <span>&bull;</span> Photography by Tim Hussin</p>
    </div>
</div>