<div class='uit-related'>
    <div class='uit-container'>
        <div class='uit-related__header'>
            <h4 class='uit-related__title'>Related Stories</h4>
        </div>

        <div class='uit-related__items'>
            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/environment/2018/apr/26/were-doomed-mayer-hillman-on-the-climate-reality-no-one-else-will-dare-mention'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/fb66172113f02d1c79c46a1cbbd2e35c87db5256/7_601_1640_984/500.jpg' />
                    <div class='uit-related__headline'>'We're doomed': Mayer Hillman on the climate reality no one else will dare mention</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/2018/sep/15/hurricane-category-6-this-is-how-world-ends-book-climate-change'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/7f2e663742bf257c95463fc6d75d5c5376f94529/0_2_1795_1077/500.jpg' />
                    <div class='uit-related__headline'>This is how the world ends: will we soon see category 6 hurricanes?</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/environment/2018/sep/24/americas-era-of-climate-mass-migration-is-here'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/77a7d19859c981cc7b219c116abbf9a3cc003c81/0_0_3000_1800/500.jpg' />
                    <div class='uit-related__headline'>'We're moving to higher ground': America's era of climate mass migration is here</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://www.theguardian.com/us-news/ng-interactive/2018/jul/31/california-fires-wildfires-2018-visual-guide-map'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/80a37ca34cd46766fc7c45b4359b88a3be32c4d1/0_163_4933_2961/500.jpg' />
                    <div class='uit-related__headline'>How bad are California's extreme fires? A visual guide</div>
                </a>
            </div>
        </div>
    </div>
</div>