.uit-body {
    p {
        @include bodyCopy();
        padding-bottom: 30px;
        margin: 0;
        color: $c-black;

        a {
            color: $c-black;
            border-bottom: 1px solid $c-yellow;
            transition: all 0.2s linear;

            &:hover {
                color: $c-yellow;
                border-bottom-color: $c-yellow;
            }
        }
    }

    .uit-content {
        padding-top: 12px;
    }
}

.uit-drop {
    @include dropCap(4);
    font-weight: 900;
    color: $c-yellow;
}

.uit-quote {
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: $c-black;
    border-top: 1px solid $c-light-grey;
    border-bottom: 1px solid $c-light-grey;
    padding: 10px 0;
    margin-top: -10px;
    margin-bottom: 24px;

    @include mq(tablet) {
        max-width: 240px;
        float: left;
        margin-right: 20px;
        margin-bottom: 6px;
        margin-top: 0;
        border: none;
        padding-top: 0;
    }

    @include mq(leftCol) {
        position: relative;
        z-index: 10;
        margin-left: -140px;
        padding: 10px 0;
        border-top: 1px solid $c-light-grey;
        border-bottom: 1px solid $c-light-grey;
        background-color: $c-white;
    }

    svg {
        height: .8em;
        fill: $c-yellow;
        display: block;
    }
}

.uit-quote__citation {
    display: block;
    color: $c-yellow;
}

.uit-divider {
    position: relative;

    @include mq(desktop) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 20px;
    }

    @include mq(leftCol) {
        grid-template-columns: repeat(14, 1fr);
    }

    @include mq(wide) {
        grid-template-columns: repeat(16, 1fr);
    }
}

.uit-image {
    display: block;
    margin-right: 4px;
    width: 100%;

    @include mq(tablet) {
        margin-right: 20px;
    }

    &:last-of-type {
        margin-right: 0;
    }
}

.uit-image__image {
    width: 100%;
}

.uit-image--1 {
    margin-left: -10px;
    width: calc(100% + 20px);

    @include mq(mobileLandscape) {
        margin-left: -20px;
        width: calc(100% + 40px);
    }

    @include mq(tablet) {
        margin-left: 0;
        width: 100%;
    }
}

.uit-image--2,
.uit-image--3 {
    display: none;

    @include mq(desktop) {
        display: block;
    }
}

p.uit-image__caption {
    position: relative;
    font-size: 14px;
    line-height: 1.4;
    padding: 4px 0;
    font-family: 'Guardian Sans Web';
    color: $c-dark-grey;
    text-indent: 1.1em;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        margin-top: 2px;
        border-left: transparent .4em solid;
        border-right: transparent .4em solid;
        border-bottom: $c-yellow .8em solid;
    }
}

.uit-image__caption--2,
.uit-image__caption--3 {
    display: none;

    @include mq(desktop) {
        display: block;
    }
}

.uit-divider--1 {
    .uit-image--1 {
        @include mq(desktop) {
            grid-column: 1 / 9;
        }

        @include mq(leftCol) {
            grid-column-end: 11;
        }

        @include mq(wide) {
            grid-column-end: 12;
        }

        .uit-image__caption {
            @include mq(desktop) {
                position: absolute;
                right: 0;
                bottom: -8px;
                width: 300px;

                &:before {
                    transform: rotate(-90deg);
                }
            }

            @include mq(wide) {
                width: 380px;
            }
        }
    }

    .uit-image--2 {
        @include mq(desktop) {
            grid-column: 9 / 13;
        }

        @include mq(leftCol) {
            grid-column: 11 / 15;
        }

        @include mq(wide) {
            grid-column: 12 / 17;
        }
    }
}

.uit-divider--2 {
    .uit-image--1 {
        @include mq(desktop) {
            grid-column: 1 / 12;
        }

        @include mq(leftCol) {
            grid-column: 2 / 12;
        }

        @include mq(wide) {
            grid-column: 2 / 14;
        }
    }
}

.uit-divider--3 {
    .uit-image--2 {
        @include mq(desktop) {
            grid-column: 1 / 5;
        }

        @include mq(wide) {
            grid-column: 1 / 6;
        }
    }

    .uit-image--1 {
        @include mq(desktop) {
            grid-column: 5 / 13;
        }

        @include mq(leftCol) {
            grid-column: 5 / 15;
        }

        @include mq(wide) {
            grid-column: 6 / 17;
        }
    }
}

.uit-divider--4 {
    .uit-image--1 {
        @include mq(desktop) {
            grid-column: 1 / 7;
        }

        @include mq(leftCol) {
            grid-column-end: 8;
        }

        @include mq(wide) {
            grid-column-end: 9;
        }
    }

    .uit-image--2 {
        @include mq(desktop) {
            grid-column: 7 / 13;
        }

        @include mq(leftCol) {
            grid-column: 8 / 15; 
        }

        @include mq(wide) {
            grid-column: 9 / 17;
        }
    }
}
