.uit-body {
    p {
        @include bodyCopy();
        padding-bottom: 30px;
        margin: 0;
        color: $c-black;

        a {
            color: $c-black;
            border-bottom: 1px solid $c-yellow;
            transition: all 0.2s linear;

            &:hover {
                color: $c-yellow;
                border-bottom-color: $c-yellow;
            }
        }
    }

    .uit-content {
        padding-top: 12px;
    }
}

.uit-drop {
    @include dropCap(4);
    font-weight: 900;
    color: $c-yellow;
}

.uit-divider {
    position: relative;
}

.uit-images {
    @include mq(desktop) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 20px;
    }

    @include mq(leftCol) {
        grid-template-columns: repeat(14, 1fr);
    }

    @include mq(wide) {
        grid-template-columns: repeat(16, 1fr);
    }
}

.uit-images__image {
    display: block;
    margin-right: 4px;
    width: 100%;

    @include mq(tablet) {
        margin-right: 20px;
    }

    &:last-of-type {
        margin-right: 0;
    }
}

.uit-images__image--1 {
    margin-left: -10px;
    width: calc(100% + 20px);

    @include mq(mobileLandscape) {
        margin-left: -20px;
        width: calc(100% + 40px);
    }

    @include mq(tablet) {
        margin-left: 0;
        width: 100%;
    }
}

.uit-images__image--2,
.uit-images__image--3 {
    display: none;

    @include mq(desktop) {
        display: block;
    }
}

.uit-caption--2,
.uit-caption--3 {
    display: none;

    @include mq(desktop) {
        display: block;
    }
}

.uit-caption {
    position: relative;
    font-size: 14px;
    line-height: 1.4;
    padding: 4px 0;
    font-family: 'Guardian Sans Web';
    color: $c-dark-grey;
    text-indent: 1.1em;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        margin-top: 2px;
        border-left: transparent .4em solid;
        border-right: transparent .4em solid;
        border-bottom: $c-yellow .8em solid;
    }
}

.uit-divider--1 {
    .uit-images__image--1 {
        @include mq(desktop) {
            grid-column: 1 / 9;
        }
        @include mq(leftCol) {
            grid-column-end: 11;
        }

        @include mq(wide) {
            grid-column-end: 12;
        }
    }

    .uit-images__image--2 {
        @include mq(desktop) {
            grid-column: 9 / 13;
        }
        @include mq(leftCol) {
            grid-column: 11 / 15;
        }

        @include mq(wide) {
            grid-column: 12 / 17;
        }
    }

    .uit-captions {
        @include mq(desktop) {
            width: 300px;
            border-top: 1px solid $c-light-grey;
            position: absolute;
            right: 0;
            bottom: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }

        @include mq(leftCol) {
            width: 380px;
        }
    }

    .uit-caption {
        @include mq(desktop) {
            padding-bottom: 0;
            margin-bottom: -5px;
        }
    }

    .uit-caption--1 {
        @include mq(desktop) {
            &:before {
                transform: rotate(-90deg);
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: -10px;
                bottom: 4px;
                background-color: $c-light-grey;
                width: 1px;
            }
        }
    }
}

.uit-divider--2 {
    .uit-images__image--2 {
        grid-row: 1;
        grid-column: 1 / 7;

        @include mq(leftCol) {
            grid-column-end: 8;
        }

        @include mq(wide) {
            grid-column-end: 9;
        }
    }

    .uit-images__image--3 {
        grid-row: 1;
        grid-column: 7 / 13;

        @include mq(leftCol) {
            grid-column: 8 / 15;
        }

        @include mq(wide) {
            grid-column: 9 / 17;
        }
    }

    .uit-images__image--1 {
        grid-row: 2;
        grid-column: 1 / 11;

        @include mq(leftCol) {
            grid-column-end: 13;
        }

        @include mq(wide) {
            grid-column-end: 15;
        }
    }
}